## Metis Project 2 - Predicting Market Values of Soccer Players in the Top 5 European Leagues Using Linear Regression

### Creating a Dataframe of Player Stats (Features):

#### 1. Standard Stats - League, Position, Age, Matches Played, Starts, Goals, Assists, Yellow Cards, Red Cards
#### 2. Shooting Stats - Total Shots, Shots on Target
#### 3. Passing Stats - Passes Completed, Passes Attempted, Key Passes (passes that directly lead to a shot), Completed Passes into Penalty Area
#### 4. Possession Stats - Number of Players Dribbled Past, Dribbles into Penalty Area

In [1]:
import scrape_utils as su
import pandas as pd
import numpy as np

<u> 2017-2018 Stats URLs </u>

Standard Stats URL: https://fbref.com/en/comps/Big5/2017-2018/stats/players/2017-2018-Big-5-European-Leagues-Stats  
Shooting Stats URL: https://fbref.com/en/comps/Big5/2017-2018/shooting/players/2017-2018-Big-5-European-Leagues-Stats  
Passing Stats URL: https://fbref.com/en/comps/Big5/2017-2018/passing/players/2017-2018-Big-5-European-Leagues-Stats  
Goal & Shot Creating Stats URL: https://fbref.com/en/comps/Big5/2017-2018/gca/players/2017-2018-Big-5-European-Leagues-Stats  
Possession Stats URL: https://fbref.com/en/comps/Big5/2017-2018/possession/players/2017-2018-Big-5-European-Leagues-Stats

### 1. Standard Stats - League, Position, Age, Matches Played, Starts, Goals, Assists, Yellow Cards, Red Cards

In [2]:
player_stats_stand_17_18 = su.standard_table('https://fbref.com/en/comps/Big5/2017-2018/stats/players/2017-2018-Big-5-European-Leagues-Stats')

In [3]:
player_stats_stand_17_18.loc[['Kylian Mbappé']]

,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards
Kylian Mbappé,fr Ligue 1,FW,18,27,24,23.3,13,9,2,0
Kylian Mbappé,fr Ligue 1,"FW,MF",18,1,1,0.8,0,0,0,0

In [4]:
player_stats_stand_17_18['League'] = player_stats_stand_17_18['League'].apply(su.convert_league)
player_stats_stand_17_18['Age'] = player_stats_stand_17_18['Age'].apply(su.convert_int)
player_stats_stand_17_18.dropna(inplace=True) # only one player with NaN for Age so simply drop those rows

In [5]:
player_stats_stand_17_18.columns

Index(['League', 'Position', 'Age', 'Matches Played', 'Starts', '90s Played',
       'Goals', 'Assists', 'Yellow Cards', 'Red Cards'],
      dtype='object')

In [6]:
player_stats_stand_17_18.reset_index(inplace=True) 
player_stats_stand_17_18.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards']

### 1.1 Create the same standard stats dataframes for 2018-2019, 2019-2020, and 2020-2021 seasons

In [7]:
player_stats_stand_18_19 = su.standard_table('https://fbref.com/en/comps/Big5/2018-2019/stats/players/2018-2019-Big-5-European-Leagues-Stats')

In [8]:
player_stats_stand_18_19['League'] = player_stats_stand_18_19['League'].apply(su.convert_league)
player_stats_stand_18_19['Age'] = player_stats_stand_18_19['Age'].apply(su.convert_int)
player_stats_stand_18_19.dropna(inplace=True) # only one player with NaN for Age so simply drop those rows

In [9]:
player_stats_stand_18_19.reset_index(inplace=True)
player_stats_stand_18_19.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards']

In [10]:
player_stats_stand_19_20 = su.standard_table('https://fbref.com/en/comps/Big5/2019-2020/stats/players/2019-2020-Big-5-European-Leagues-Stats')

In [11]:
player_stats_stand_19_20['League'] = player_stats_stand_19_20['League'].apply(su.convert_league)
player_stats_stand_19_20['Age'] = player_stats_stand_19_20['Age'].apply(su.convert_int)

In [12]:
player_stats_stand_19_20[player_stats_stand_19_20['Age'].isnull()]

Empty DataFrame
Columns: [League, Position, Age, Matches Played, Starts, 90s Played, Goals, Assists, Yellow Cards, Red Cards]
Index: []

In [13]:
player_stats_stand_19_20.dropna(inplace=True) # only two forwards/midfielders with NaN for Age so simply drop those rows

In [14]:
player_stats_stand_19_20.reset_index(inplace=True)
player_stats_stand_19_20.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards']

In [15]:
player_stats_stand_20_21 = su.standard_table('https://fbref.com/en/comps/Big5/2020-2021/stats/players/2010-2021-Big-5-European-Leagues-Stats')

In [16]:
player_stats_stand_20_21['League'] = player_stats_stand_20_21['League'].apply(su.convert_league)
player_stats_stand_20_21['Age'] = player_stats_stand_20_21['Age'].apply(lambda string: int(string[0:2]) if len(string[0:2])==2 else np.nan)

In [17]:
player_stats_stand_20_21[player_stats_stand_20_21['Age'].isnull()]

Empty DataFrame
Columns: [League, Position, Age, Matches Played, Starts, 90s Played, Goals, Assists, Yellow Cards, Red Cards]
Index: []

In [18]:
player_stats_stand_20_21.dropna(inplace=True)

In [19]:
player_stats_stand_20_21.reset_index(inplace=True)
player_stats_stand_20_21.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards']

### 1.2 Combine the dataframes and sum the numerical stats (for age, take the most recent value)

In [20]:
player_stats_stand_dup = pd.concat([player_stats_stand_17_18, player_stats_stand_18_19, player_stats_stand_19_20, player_stats_stand_20_21]).sort_values(by=['Player Name','Age'])

In [21]:
player_stats_stand_dup[player_stats_stand_dup['Player Name']=='Kylian Mbappé']

,Player Name,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards
1606,Kylian Mbappé,Ligue 1,FW,18.0,27,24,23.3,13,9,2,0
1607,Kylian Mbappé,Ligue 1,"FW,MF",18.0,1,1,0.8,0,0,0,0
1573,Kylian Mbappé,Ligue 1,FW,19.0,29,24,26.0,33,7,5,1
1604,Kylian Mbappé,Ligue 1,FW,20.0,20,17,16.8,18,5,0,0
1591,Kylian Mbappé,Ligue 1,FW,22.0,25,21,20.7,20,6,3,0

In [22]:
player_stats_stand = player_stats_stand_dup.groupby('Player Name')[['Matches Played','Starts','90s Played','Goals','Assists','Yellow Cards','Red Cards']].sum().reset_index()

In [23]:
player_stats_stand_lastr = player_stats_stand_dup.drop_duplicates(subset='Player Name', keep='last').reset_index(drop=True)

In [24]:
player_stats_stand['Age'] = player_stats_stand_lastr['Age']
player_stats_stand['League'] = player_stats_stand_lastr['League']
player_stats_stand['Position'] = player_stats_stand_lastr['Position']

In [25]:
player_stats_stand = pd.DataFrame(player_stats_stand, columns=['Player Name','League', 'Position', 'Age', 'Matches Played', 'Starts', '90s Played', 'Goals',
       'Assists', 'Yellow Cards', 'Red Cards'])

In [26]:
player_stats_stand[player_stats_stand['Player Name']=='Kylian Mbappé']

,Player Name,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards
2377,Kylian Mbappé,Ligue 1,FW,22.0,102,87,87.6,84,27,10,1

In [27]:
player_stats_stand

,Player Name,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards
0,Aaron Connolly,Premier League,FW,21.0,39,23,22.0,5,2,0,0
1,Aaron Cresswell,Premier League,DF,31.0,116,113,111.1,4,11,17,0
2,Aaron Hickey,Serie A,DF,18.0,11,10,8.4,0,0,3,1
3,Aaron Hunt,Bundesliga,"MF,FW",30.0,28,26,23.1,3,2,1,0
4,Aaron Lennon,Premier League,MF,32.0,61,40,40.2,1,3,7,0
...,...,...,...,...,...,...,...,...,...,...,...
4546,Łukasz Teodorczyk,Serie A,FW,28.0,30,3,6.9,1,1,2,0
4547,Šime Vrsaljko,La Liga,DF,29.0,44,37,36.6,0,7,14,0
4548,Žan Celar,Serie A,FW,19.0,1,0,0.1,0,0,0,0
4549,Žan Majer,Serie A,MF,27.0,27,19,18.5,1,1,7,0
4550,Ștefan Radu,Serie A,DF,34.0,108,106,96.5,1,4,23,2

### 1.3 Save the standard stats dataframes as .csv files

In [33]:
player_stats_stand_17_18.to_csv('../Data/player_stats_stand_17_18.csv', index=False)
player_stats_stand_18_19.to_csv('../Data/player_stats_stand_18_19.csv', index=False)
player_stats_stand_19_20.to_csv('../Data/player_stats_stand_19_20.csv', index=False)
player_stats_stand_20_21.to_csv('../Data/player_stats_stand_20_21.csv', index=False)
player_stats_stand.to_csv('../Data/player_stats_stand.csv', index=False)

### 2. Shooting Stats - Total Shots, Shots on Target

In [28]:
player_stats_shoot_17_18 = su.shooting_table('https://fbref.com/en/comps/Big5/2017-2018/shooting/players/2017-2018-Big-5-European-Leagues-Stats')

In [29]:
player_stats_shoot_17_18['Total Shots'] = player_stats_shoot_17_18['Total Shots'].apply(su.convert_int)
player_stats_shoot_17_18.dropna(inplace=True)

In [30]:
player_stats_shoot_17_18.reset_index(inplace=True) 
player_stats_shoot_17_18.columns = ['Player Name', 'Total Shots', 'Shots on Target']

### 2.1 Create the same shooting stats dataframes for 2018-2019, 2019-2020, and 2020-2021 seasons

In [31]:
player_stats_shoot_18_19 = su.shooting_table('https://fbref.com/en/comps/Big5/2018-2019/shooting/players/2018-2019-Big-5-European-Leagues-Stats')

In [32]:
player_stats_shoot_18_19['Total Shots'] = player_stats_shoot_18_19['Total Shots'].apply(su.convert_int)

In [33]:
player_stats_shoot_18_19.reset_index(inplace=True) 
player_stats_shoot_18_19.columns = ['Player Name', 'Total Shots', 'Shots on Target']

In [34]:
player_stats_shoot_19_20 = su.shooting_table('https://fbref.com/en/comps/Big5/2019-2020/shooting/players/2019-2020-Big-5-European-Leagues-Stats')

In [35]:
player_stats_shoot_19_20['Total Shots'] = player_stats_shoot_19_20['Total Shots'].apply(su.convert_int)

In [36]:
player_stats_shoot_19_20.reset_index(inplace=True) 
player_stats_shoot_19_20.columns = ['Player Name', 'Total Shots', 'Shots on Target']

In [37]:
player_stats_shoot_20_21 = su.shooting_table('https://fbref.com/en/comps/Big5/2020-2021/shooting/players/2020-2021-Big-5-European-Leagues-Stats')

In [38]:
player_stats_shoot_20_21['Total Shots'] = player_stats_shoot_20_21['Total Shots'].apply(su.convert_int)

In [39]:
player_stats_shoot_20_21.reset_index(inplace=True) 
player_stats_shoot_20_21.columns = ['Player Name', 'Total Shots', 'Shots on Target']

### 2.2 Combine the dataframes and sum the numerical stats

In [40]:
player_stats_shoot_dup = pd.concat([player_stats_shoot_17_18, player_stats_shoot_18_19, player_stats_shoot_19_20, player_stats_shoot_20_21]).sort_values(by='Player Name')

In [41]:
player_stats_shoot1 = player_stats_shoot_dup.groupby('Player Name')['Total Shots'].sum().reset_index()
player_stats_shoot2 = player_stats_shoot_dup.groupby('Player Name')['Shots on Target'].sum().reset_index()
player_stats_shoot = player_stats_shoot1.merge(player_stats_shoot2, on='Player Name')

In [42]:
player_stats_shoot

            Player Name  Total Shots  Shots on Target
0        Aaron Connolly         59.0               21
1       Aaron Cresswell         65.0               15
2          Aaron Hickey          3.0                1
3            Aaron Hunt         27.0                6
4          Aaron Lennon         19.0                7
...                 ...          ...              ...
4542  Łukasz Teodorczyk         16.0                4
4543      Šime Vrsaljko          5.0                1
4544          Žan Celar          0.0                0
4545          Žan Majer         20.0                8
4546        Ștefan Radu         27.0                4

[4547 rows x 3 columns]

### 2.3 Save the shooting stats dataframes as .csv files

In [ ]:
player_stats_shoot_17_18.to_csv('../Data/player_stats_shoot_17_18.csv', index=False)
player_stats_shoot_18_19.to_csv('../Data/player_stats_shoot_18_19.csv', index=False)
player_stats_shoot_19_20.to_csv('../Data/player_stats_shoot_19_20.csv', index=False)
player_stats_shoot_20_21.to_csv('../Data/player_stats_shoot_20_21.csv', index=False)
player_stats_shoot.to_csv('../Data/player_stats_shoot.csv', index=False)

### 3. Passing Stats - Passes Completed, Passes Attempted, Key Passes (passes that directly lead to a shot), Completed Passes into Penalty Area

In [43]:
player_stats_pass_17_18 = su.passing_table('https://fbref.com/en/comps/Big5/2017-2018/passing/players/2017-2018-Big-5-European-Leagues-Stats')

In [44]:
player_stats_pass_17_18['Passes Completed'] = player_stats_pass_17_18['Passes Completed'].apply(su.convert_int)
player_stats_pass_17_18['Passes Attempted'] = player_stats_pass_17_18['Passes Attempted'].apply(su.convert_int)
player_stats_pass_17_18['Key Passes'] = player_stats_pass_17_18['Key Passes'].apply(su.convert_int)
player_stats_pass_17_18['Completed Passes into PA'] = player_stats_pass_17_18['Completed Passes into PA'].apply(su.convert_int)

player_stats_pass_17_18.dropna(inplace=True)

In [45]:
player_stats_pass_17_18.reset_index(inplace=True) 
player_stats_pass_17_18.columns = ['Player Name', 'Passes Completed', 'Passes Attempted', 'Key Passes', 'Completed Passes into PA']

### 3.1 Create the same passing stats dataframes for 2018-2019, 2019-2020, and 2020-2021 seasons

In [46]:
player_stats_pass_18_19 = su.passing_table('https://fbref.com/en/comps/Big5/2018-2019/passing/players/2018-2019-Big-5-European-Leagues-Stats')

In [47]:
player_stats_pass_18_19['Passes Completed'] = player_stats_pass_18_19['Passes Completed'].apply(su.convert_int)
player_stats_pass_18_19['Passes Attempted'] = player_stats_pass_18_19['Passes Attempted'].apply(su.convert_int)
player_stats_pass_18_19['Key Passes'] = player_stats_pass_18_19['Key Passes'].apply(su.convert_int)
player_stats_pass_18_19['Completed Passes into PA'] = player_stats_pass_18_19['Completed Passes into PA'].apply(su.convert_int)

player_stats_pass_18_19.dropna(inplace=True)

In [48]:
player_stats_pass_18_19.reset_index(inplace=True) 
player_stats_pass_18_19.columns = ['Player Name', 'Passes Completed', 'Passes Attempted', 'Key Passes', 'Completed Passes into PA']

In [49]:
player_stats_pass_19_20 = su.passing_table('https://fbref.com/en/comps/Big5/2019-2020/passing/players/2019-2020-Big-5-European-Leagues-Stats')

In [50]:
player_stats_pass_19_20['Passes Completed'] = player_stats_pass_19_20['Passes Completed'].apply(su.convert_int)
player_stats_pass_19_20['Passes Attempted'] = player_stats_pass_19_20['Passes Attempted'].apply(su.convert_int)
player_stats_pass_19_20['Key Passes'] = player_stats_pass_19_20['Key Passes'].apply(su.convert_int)
player_stats_pass_19_20['Completed Passes into PA'] = player_stats_pass_19_20['Completed Passes into PA'].apply(su.convert_int)

player_stats_pass_19_20.dropna(inplace=True)

In [51]:
player_stats_pass_19_20.reset_index(inplace=True) 
player_stats_pass_19_20.columns = ['Player Name', 'Passes Completed', 'Passes Attempted', 'Key Passes', 'Completed Passes into PA']

In [52]:
player_stats_pass_20_21 = su.passing_table('https://fbref.com/en/comps/Big5/2020-2021/passing/players/2020-2021-Big-5-European-Leagues-Stats')

In [53]:
player_stats_pass_20_21['Passes Completed'] = player_stats_pass_20_21['Passes Completed'].apply(su.convert_int)
player_stats_pass_20_21['Passes Attempted'] = player_stats_pass_20_21['Passes Attempted'].apply(su.convert_int)
player_stats_pass_20_21['Key Passes'] = player_stats_pass_20_21['Key Passes'].apply(su.convert_int)
player_stats_pass_20_21['Completed Passes into PA'] = player_stats_pass_20_21['Completed Passes into PA'].apply(su.convert_int)

player_stats_pass_20_21.dropna(inplace=True)

In [54]:
player_stats_pass_20_21.reset_index(inplace=True) 
player_stats_pass_20_21.columns = ['Player Name', 'Passes Completed', 'Passes Attempted', 'Key Passes', 'Completed Passes into PA']

### 3.2 Combine the dataframes and sum the numerical stats

In [55]:
player_stats_pass_dup = pd.concat([player_stats_pass_17_18, player_stats_pass_18_19, player_stats_pass_19_20, player_stats_pass_20_21]).sort_values(by='Player Name')

In [56]:
player_stats_pass = player_stats_pass_dup.groupby('Player Name')[['Passes Completed', 'Passes Attempted', 'Key Passes', 'Completed Passes into PA']].sum().reset_index()

In [57]:
player_stats_pass

,Player Name,Passes Completed,Passes Attempted,Key Passes,Completed Passes into PA
0,Aaron Connolly,198.0,255.0,10.0,3.0
1,Aaron Cresswell,4529.0,6133.0,121.0,79.0
2,Aaron Hickey,339.0,404.0,4.0,4.0
3,Aaron Hunt,883.0,1229.0,65.0,31.0
4,Aaron Lennon,677.0,955.0,22.0,21.0
...,...,...,...,...,...
4540,Łukasz Teodorczyk,109.0,161.0,7.0,2.0
4541,Šime Vrsaljko,1444.0,1997.0,30.0,46.0
4542,Žan Celar,0.0,2.0,0.0,0.0
4543,Žan Majer,593.0,746.0,19.0,16.0
4544,Ștefan Radu,4607.0,5409.0,43.0,57.0

### 3.3 Save the passing stats dataframes as .csv files

In [ ]:
player_stats_pass_17_18.to_csv('../Data/player_stats_pass_17_18.csv', index=False)
player_stats_pass_18_19.to_csv('../Data/player_stats_pass_18_19.csv', index=False)
player_stats_pass_19_20.to_csv('../Data/player_stats_pass_19_20.csv', index=False)
player_stats_pass_20_21.to_csv('../Data/player_stats_pass_20_21.csv', index=False)
player_stats_pass.to_csv('../Data/player_stats_pass.csv', index=False)

### 4. Possession Stats - Number of Players Dribbled Past, Dribbles into Penalty Area

In [58]:
player_stats_possess_17_18 = su.possession_table('https://fbref.com/en/comps/Big5/2017-2018/possession/players/2017-2018-Big-5-European-Leagues-Stats')

In [59]:
player_stats_possess_17_18['Players Dribbled Past'] = player_stats_possess_17_18['Players Dribbled Past'].apply(su.convert_int)
player_stats_possess_17_18['Dribbles into PA'] = player_stats_possess_17_18['Dribbles into PA'].apply(su.convert_int)

player_stats_possess_17_18.dropna(inplace=True)

In [60]:
player_stats_possess_17_18.reset_index(inplace=True) 
player_stats_possess_17_18.columns = ['Player Name', 'Players Dribbled Past', 'Dribbles into PA']

### 4.1 Create the same possession stats dataframes for 2018-2019, 2019-2020, and 2020-2021 seasons

In [61]:
player_stats_possess_18_19 = su.possession_table('https://fbref.com/en/comps/Big5/2018-2019/possession/players/2018-2019-Big-5-European-Leagues-Stats')

In [62]:
player_stats_possess_18_19['Players Dribbled Past'] = player_stats_possess_18_19['Players Dribbled Past'].apply(su.convert_int)
player_stats_possess_18_19['Dribbles into PA'] = player_stats_possess_18_19['Dribbles into PA'].apply(su.convert_int)

player_stats_possess_18_19.dropna(inplace=True)

In [63]:
player_stats_possess_18_19.reset_index(inplace=True) 
player_stats_possess_18_19.columns = ['Player Name', 'Players Dribbled Past', 'Dribbles into PA']

In [64]:
player_stats_possess_19_20 = su.possession_table('https://fbref.com/en/comps/Big5/2019-2020/possession/players/2019-2020-Big-5-European-Leagues-Stats')

In [65]:
player_stats_possess_19_20['Players Dribbled Past'] = player_stats_possess_19_20['Players Dribbled Past'].apply(su.convert_int)
player_stats_possess_19_20['Dribbles into PA'] = player_stats_possess_19_20['Dribbles into PA'].apply(su.convert_int)

player_stats_possess_19_20.dropna(inplace=True)

In [66]:
player_stats_possess_19_20.reset_index(inplace=True) 
player_stats_possess_19_20.columns = ['Player Name', 'Players Dribbled Past', 'Dribbles into PA']

In [67]:
player_stats_possess_20_21 = su.possession_table('https://fbref.com/en/comps/Big5/2020-2021/possession/players/2020-2021-Big-5-European-Leagues-Stats')

In [68]:
player_stats_possess_20_21['Players Dribbled Past'] = player_stats_possess_20_21['Players Dribbled Past'].apply(su.convert_int)
player_stats_possess_20_21['Dribbles into PA'] = player_stats_possess_20_21['Dribbles into PA'].apply(su.convert_int)

player_stats_possess_20_21.dropna(inplace=True)

In [69]:
player_stats_possess_20_21.reset_index(inplace=True) 
player_stats_possess_20_21.columns = ['Player Name', 'Players Dribbled Past', 'Dribbles into PA']

### 4.2 Combine the dataframes and sum the numerical stats

In [70]:
player_stats_possess_dup = pd.concat([player_stats_possess_17_18, player_stats_possess_18_19, player_stats_possess_19_20, player_stats_possess_20_21]).sort_values(by='Player Name')

In [71]:
player_stats_possess = player_stats_possess_dup.groupby('Player Name')[['Players Dribbled Past', 'Dribbles into PA']].sum().reset_index()

In [72]:
player_stats_possess

            Player Name  Players Dribbled Past  Dribbles into PA
0        Aaron Connolly                   12.0              16.0
1       Aaron Cresswell                   44.0              18.0
2          Aaron Hickey                   10.0               2.0
3            Aaron Hunt                   23.0               7.0
4          Aaron Lennon                   38.0              26.0
...                 ...                    ...               ...
4540  Łukasz Teodorczyk                   10.0               4.0
4541      Šime Vrsaljko                   11.0               4.0
4542          Žan Celar                    1.0               0.0
4543          Žan Majer                   13.0               7.0
4544        Ștefan Radu                   42.0               8.0

[4545 rows x 3 columns]

### 4.3 Save the possession stats dataframes as .csv files

In [ ]:
player_stats_possess_17_18.to_csv('../Data/player_stats_possess_17_18.csv', index=False)
player_stats_possess_18_19.to_csv('../Data/player_stats_possess_18_19.csv', index=False)
player_stats_possess_19_20.to_csv('../Data/player_stats_possess_19_20.csv', index=False)
player_stats_possess_20_21.to_csv('../Data/player_stats_possess_20_21.csv', index=False)
player_stats_possess.to_csv('../Data/player_stats_possess.csv', index=False)

### 5. Merge all player stats (standard, shooting, passing, and possession) into a single dataframe

In [73]:
player_stats_stand.set_index('Player Name', inplace=True)
player_stats_shoot.set_index('Player Name', inplace=True)
player_stats_pass.set_index('Player Name', inplace=True)
player_stats_possess.set_index('Player Name', inplace=True)

In [74]:
player_stats_all = pd.concat([player_stats_stand, player_stats_shoot, player_stats_pass, player_stats_possess], axis=1).reset_index()

In [75]:
player_stats_all.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards',
       'Total Shots', 'Shots on Target', 'Passes Completed',
       'Passes Attempted', 'Key Passes', 'Completed Passes into PA',
       'Players Dribbled Past', 'Dribbles into PA']

In [76]:
player_stats_all.dropna(inplace=True)

In [77]:
player_stats_all.reset_index(drop=True, inplace=True)

In [78]:
player_stats_all

,Player Name,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards,Total Shots,Shots on Target,Passes Completed,Passes Attempted,Key Passes,Completed Passes into PA,Players Dribbled Past,Dribbles into PA
0,Aaron Connolly,Premier League,FW,21.0,39,23,22.0,5,2,0,0,59.0,21.0,198.0,255.0,10.0,3.0,12.0,16.0
1,Aaron Cresswell,Premier League,DF,31.0,116,113,111.1,4,11,17,0,65.0,15.0,4529.0,6133.0,121.0,79.0,44.0,18.0
2,Aaron Hickey,Serie A,DF,18.0,11,10,8.4,0,0,3,1,3.0,1.0,339.0,404.0,4.0,4.0,10.0,2.0
3,Aaron Hunt,Bundesliga,"MF,FW",30.0,28,26,23.1,3,2,1,0,27.0,6.0,883.0,1229.0,65.0,31.0,23.0,7.0
4,Aaron Lennon,Premier League,MF,32.0,61,40,40.2,1,3,7,0,19.0,7.0,677.0,955.0,22.0,21.0,38.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4540,Łukasz Teodorczyk,Serie A,FW,28.0,30,3,6.9,1,1,2,0,16.0,4.0,109.0,161.0,7.0,2.0,10.0,4.0
4541,Šime Vrsaljko,La Liga,DF,29.0,44,37,36.6,0,7,14,0,5.0,1.0,1444.0,1997.0,30.0,46.0,11.0,4.0
4542,Žan Celar,Serie A,FW,19.0,1,0,0.1,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0
4543,Žan Majer,Serie A,MF,27.0,27,19,18.5,1,1,7,0,20.0,8.0,593.0,746.0,19.0,16.0,13.0,7.0
4544,Ștefan Radu,Serie A,DF,34.0,108,106,96.5,1,4,23,2,27.0,4.0,4607.0,5409.0,43.0,57.0,42.0,8.0

In [ ]:
player_stats_all.to_csv('../Data/player_stats_all.csv',index=False)

### 6. Merge player stats and market values into a final dataframe

In [79]:
player_market_values = pd.read_csv('../Data/pmv_table.csv')

In [80]:
player_stats_all.set_index('Player Name', inplace=True)
player_market_values.set_index('Player Name', inplace=True)

In [81]:
player_stats_values_df = pd.concat([player_stats_all,player_market_values], axis=1)

In [82]:
player_stats_values_df.dropna(inplace=True)

In [83]:
player_stats_values_df = player_stats_values_df.sort_values(by='Current Market Value (USD)', ascending=False).reset_index()
player_stats_values_df.columns = ['Player Name', 'League', 'Position', 'Age', 'Matches Played', 'Starts',
       '90s Played', 'Goals', 'Assists', 'Yellow Cards', 'Red Cards',
       'Total Shots', 'Shots on Target', 'Passes Completed',
       'Passes Attempted', 'Key Passes', 'Completed Passes into PA',
       'Players Dribbled Past', 'Dribbles into PA',
       'Current Market Value (USD)']

In [84]:
player_stats_values_df

,Player Name,League,Position,Age,Matches Played,Starts,90s Played,Goals,Assists,Yellow Cards,Red Cards,Total Shots,Shots on Target,Passes Completed,Passes Attempted,Key Passes,Completed Passes into PA,Players Dribbled Past,Dribbles into PA,Current Market Value (USD)
0,Kylian Mbappé,Ligue 1,FW,22.0,102.0,87.0,87.6,84.0,27.0,10.0,1.0,363.0,183.0,2374.0,3048.0,160.0,136.0,308.0,194.0,198000000.0
1,Neymar,Ligue 1,"FW,MF",29.0,64.0,60.0,60.5,53.0,29.0,15.0,4.0,244.0,101.0,3142.0,4053.0,182.0,259.0,385.0,91.0,140800000.0
2,Mohamed Salah,Premier League,FW,28.0,136.0,130.0,126.4,90.0,31.0,3.0,0.0,485.0,213.0,3218.0,4207.0,221.0,241.0,293.0,194.0,132000000.0
3,Kevin De Bruyne,Premier League,MF,29.0,114.0,100.0,96.1,28.0,49.0,8.0,0.0,293.0,98.0,5567.0,7288.0,344.0,364.0,165.0,105.0,132000000.0
4,Harry Kane,Premier League,FW,27.0,121.0,118.0,116.1,82.0,21.0,15.0,0.0,455.0,181.0,1788.0,2545.0,120.0,92.0,156.0,93.0,132000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,Pedro López,La Liga,GK,22.0,5.0,4.0,4.6,0.0,0.0,0.0,0.0,0.0,0.0,113.0,143.0,0.0,0.0,0.0,0.0,110000.0
2164,Federico Ravaglia,Serie A,GK,21.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,31.0,0.0,0.0,0.0,0.0,110000.0
2165,Matthew Hoppe,Bundesliga,FW,20.0,16.0,13.0,11.8,5.0,0.0,3.0,0.0,17.0,7.0,151.0,210.0,6.0,6.0,8.0,7.0,110000.0
2166,Christian Pastina,Serie A,DF,20.0,2.0,0.0,0.8,0.0,1.0,0.0,0.0,0.0,0.0,28.0,36.0,1.0,1.0,0.0,0.0,83000.0
2167,Marco John,Bundesliga,DF,18.0,11.0,11.0,10.0,0.0,0.0,1.0,0.0,5.0,0.0,377.0,476.0,8.0,16.0,16.0,7.0,28000.0

In [ ]:
player_stats_values_df.to_csv('../Data/player_stats_values.csv', index=False)